[submodule "submodules/l10n-spain"]
	path = submodules/l10n-spain
	url = https://github.com/OCA/l10n-spain.git
	branch = 16.0
[submodule "submodules/product-attribute"]
	path = submodules/product-attribute
	url = https://github.com/OCA/product-attribute.git
	branch = 16.0
[submodule "submodules/queue"]
	path = submodules/queue
	url = https://github.com/OCA/queue.git
	branch = 16.0
[submodule "submodules/reporting-engine"]
	path = submodules/reporting-engine
	url = https://github.com/OCA/reporting-engine.git
	branch = 16.0
[submodule "submodules/report-print-send"]
	path = submodules/report-print-send
	url = https://github.com/OCA/report-print-send.git
	branch = 16.0
[submodule "submodules/server-auth"]
	path = submodules/server-auth
	url = https://github.com/OCA/server-auth.git
	branch = 16.0
[submodule "submodules/server-brand"]
	path = submodules/server-brand
	url = https://github.com/OCA/server-brand.git
	branch = 16.0
[submodule "submodules/server-tools"]
	path = submodules/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 16.0
[submodule "submodules/server-ux"]
	path = submodules/server-ux
	url = https://github.com/OCA/server-ux.git
	branch = 16.0
[submodule "submodules/social"]
	path = submodules/social
	url = https://github.com/OCA/social.git
	branch = 16.0
[submodule "submodules/spreadsheet"]
	path = submodules/spreadsheet
	url = https://github.com/OCA/spreadsheet.git
	branch = 16.0
[submodule "submodules/stock-logistics-reporting"]
	path = submodules/stock-logistics-reporting
	url = https://github.com/OCA/stock-logistics-reporting.git
	branch = 16.0
[submodule "submodules/stock-logistics-warehouse"]
	path = submodules/stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
	branch = 16.0
[submodule "submodules/stock-logistics-workflow"]
	path = submodules/stock-logistics-workflow
	url = https://github.com/OCA/stock-logistics-workflow.git
	branch = 16.0
[submodule "submodules/web"]
	path = submodules/web
	url = https://github.com/OCA/web.git
	branch = 16.0
[submodule "submodules/account-analytic"]
	path = submodules/account-analytic
	url = https://github.com/OCA/account-analytic.git
	branch = 16.0
[submodule "submodules/account-budgeting"]
	path = submodules/account-budgeting
	url = https://github.com/OCA/account-budgeting.git
	branch = 16.0
[submodule "submodules/account-closing"]
	path = submodules/account-closing
	url = https://github.com/OCA/account-closing.git
	branch = 16.0
[submodule "submodules/account-financial-reporting"]
	path = submodules/account-financial-reporting
	url = https://github.com/OCA/account-financial-reporting.git
	branch = 16.0
[submodule "submodules/account-financial-tools"]
	path = submodules/account-financial-tools
	url = https://github.com/OCA/account-financial-tools.git
	branch = 16.0
[submodule "submodules/account-fiscal-rule"]
	path = submodules/account-fiscal-rule
	url = https://github.com/OCA/account-fiscal-rule.git
	branch = 16.0
[submodule "submodules/account-invoice-reporting"]
	path = submodules/account-invoice-reporting
	url = https://github.com/OCA/account-invoice-reporting.git
	branch = 16.0
[submodule "submodules/account-invoicing"]
	path = submodules/account-invoicing
	url = https://github.com/OCA/account-invoicing.git
	branch = 16.0
[submodule "submodules/account-payment"]
	path = submodules/account-payment
	url = https://github.com/OCA/account-payment.git
	branch = 16.0
[submodule "submodules/bank-payment"]
	path = submodules/bank-payment
	url = https://github.com/OCA/bank-payment.git
	branch = 16.0
[submodule "submodules/bank-statement-import"]
	path = submodules/bank-statement-import
	url = https://github.com/OCA/bank-statement-import.git
	branch = 16.0
[submodule "submodules/community-data-files"]
	path = submodules/community-data-files
	url = https://github.com/OCA/community-data-files.git
	branch = 16.0
[submodule "submodules/contract"]
	path = submodules/contract
	url = https://github.com/OCA/contract.git
	branch = 16.0
[submodule "submodules/crm"]
	path = submodules/crm
	url = https://github.com/OCA/crm.git
	branch = 16.0
[submodule "submodules/currency"]
	path = submodules/currency
	url = https://github.com/OCA/currency.git
	branch = 16.0
[submodule "submodules/mis-builder"]
	path = submodules/mis-builder
	url = https://github.com/OCA/mis-builder.git
	branch = 16.0
[submodule "submodules/multi-company"]
	path = submodules/multi-company
	url = https://github.com/OCA/multi-company.git
	branch = 16.0
[submodule "submodules/product-variant"]
	path = submodules/product-variant
	url = https://github.com/OCA/product-variant.git
	branch = 16.0
[submodule "submodules/purchase-workflow"]
	path = submodules/purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 16.0
[submodule "submodules/sale-workflow"]
	path = submodules/sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 16.0
[submodule "submodules/hr-attendance"]
	path = submodules/hr-attendance
	url = https://github.com/OCA/hr-attendance.git
	branch = 16.0
[submodule "submodules/hr-holidays"]
	path = submodules/hr-holidays
	url = https://github.com/OCA/hr-holidays.git
	branch = 16.0
[submodule "submodules/timesheet"]
	path = submodules/timesheet
	url = https://github.com/OCA/timesheet.git
	branch = 16.0
[submodule "submodules/pos"]
	path = submodules/pos
	url = https://github.com/OCA/pos.git
	branch = 16.0
